li {
  list-style: none;
  border: 1px solid black;
  text-align: center;
  padding: 4px;
  margin-top: 2px;
  background-color: rgb(166, 138, 113);
}

ul {
  margin-left: 6rem;
  margin-right: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* ul {
  margin-left: 6rem;
  margin-right: 6rem;
  list-style-type: none;
  padding: 0;
  max-width: 20rem;
}

li {
  

  
 
  
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
 */
