li {
  list-style: none;
  border: 1px solid black;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 25em;
  margin-top: 2px;
  background-color: rgb(154, 201, 123);
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.deleteButton {
  height: 2em;
}
